* {
    font-family: Raleway, sans-serif;
}
* {
    margin: 0;
}

#content {
    max-width: 1440px;
    margin:auto;
}

/* header */

a, a:link {
    text-decoration: none;
    color: black;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.2em;
    margin-right: 3.4em;
    margin-left: 3.4em;
}

.navtop_all {
    margin-left: auto;
}

.navtop {
    text-align: center;
    padding: 2em 2em 2em 2em;  
}

.nav_register {
    padding: 2em 2em 2em 2em;
    color:#0065fc;
    font-weight: bold;
}

/* header */
/*-----------------------------------------------------------------------------------------------------------------------------*/
/* section head */

#header_2 {
    margin-left: 3.4em;
}

.text_under_head {
    margin-top: 1em;
}

.text_under_head p {
    margin-top: 0.5em;
    margin-bottom: 1.2em;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

.search_bar {
    Display: flex;
}

.icon_pos {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    padding:16px 18px;
}

.search_field {
    width: 233px;
    height: 3.2em;
    font-size: 1em;
    font-weight: bold;
    padding-left: 1em;
    border-color: #f2f2f2;
    border-style: solid;
    border-width: 1px;
    color: black;
}
.search_button {
    padding: 16px 25px;
    border-radius: 0 1em 1em 0;
    border: none;
    background-color: #0065fc;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

/* Filters bloc */

.filters_bloc {
    display: flex;
    align-items: center;
    margin-top: 2em;;
}

.filters_bloc h2 {
    padding-right: 1.5em;
    font-size: 1.3em;
}

.fba {
    display: flex;
}

.filters_button_all :hover {
    color: #0065fc;
    cursor: pointer;
}

.filters_button_all {
    display: flex;
    border: 2px #d9d9d9 solid;
    border-left: none;
    border-radius: 2em;
    margin-right: 1.8em;
}

.filters_button {
    color: #0065fc;
    font-size: 1.2em;
}

.filters_button i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #deebff;
    border-radius: 100%; 
    min-height: 2.8em;
    min-width: 2.8em;
    margin: -2px;
}

.filters_text {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    border-left: none;
    padding: 0em 1em 0em 1em;
}

/* text info*/ 

.logo_text_info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    border: 1px #d9d9d9 solid;
    font-size: 0.8em;
    width: 2em;
    height: 2em;
    min-width: 2em;
    min-height: 2em;
    border-radius: 100%;
    margin-right: 0.9em;
}

.text_info {
    display: flex;
    align-items: center;
    margin-top: 2.2em;
    margin-bottom: 2.2em;
}

/* section head */
/*------------------------------------------------------------------------------------------------------------------------------*/
/* section hebergements */

#central_section { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3.2em;
    margin-right: 3.2em;
}

#central_section h2 {
    font-size: 1.5em;
    padding-top: 1.7em;
}

.stars {
    color: #0065fc;
}

.inactive {
    color: #d9d9d9;
}
.hebergements {
    background-color: #f2f2f2;
    border-radius: 30px;
    padding-left: 2.4em;
    width: 881px;
    height: 625px;
    margin-right: 2.6em;
}

.conteneur {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.5em;

}

.conteneur_img {
    background-color: #ffff;
    border: 5px #ffffff solid;
    border-radius: 9%;
    margin-right: 1.7em;
    margin-bottom: 1.7em;
    box-shadow: 0px 0px 10px #e2e2e2;
    height: 200px;
    width: 235px;
    overflow: hidden;
}

.conteneur_text {
    margin-left: 1em;
    font-size: 0.9em;
}

.conteneur_text > * {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

.hotel_image img {
    height: 7.8em;
    overflow: hidden;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}

.more {
    font-weight: bold;
    font-size: 1.2em;
}

/* aside */

.content_aside {
    display: flex;
    flex-direction: column;
    margin-top: 1.6em;
    row-gap: 2em;
}

.populaires {
    
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 0em 2em 2em 2em;
    border-radius: 30px;
}

.populaires h2 {
    display: flex;
    justify-content: space-between;
}

.conteneur_text_aside p {
    margin-top: 0.5em;
}

.conteneur_text_aside i {
    margin-top: 2.3em;
}

.conteneur_img_aside {
    display:flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 5px #ffffff solid;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #e2e2e2;
    max-height: 133px;
    width: 345px;
    overflow: hidden;
}

.conteneur_text_aside {
    margin: 0.8em 0.5em 1em 1.4em;
    font-size: 0.9em;
}

.hotel_image_aside {
    min-height: 100%;
    width: 37%;
    min-width: 37%;
    max-width: 37%;
}

.hotel_image_aside img {
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* section hebergements */
/*------------------------------------------------------------------------------------------------------------------------------*/
/* section activités */

#activites {
    margin:3.4em;
}

.activites h1 {
    margin-bottom: 0.7em;
}

.conteneur_wo_h1 {
    display: flex;
    justify-content: space-between;
    height: 450px;
}

.activites_img img {
    height: 390px;
    overflow: hidden;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}

.activites_solo {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #e2e2e2;
    border-radius: 20px;
    width: 300px;
    overflow: hidden;
}

.activites_duo {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 300px;
}

.activites_duo_1 {
    box-shadow: 0px 0px 10px #e2e2e2;
    border-radius: 20px;
    height: 240px;
    overflow: hidden;
}

.activites_img_1 img {
    height: 180px;
    overflow: hidden;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}

.activites_duo_2 {
    box-shadow: 0px 0px 10px #e2e2e2;
    border-radius: 20px;
    height: 165px;
    overflow: hidden;
}

.activites_img_2 img {
    height: 110px;
    overflow: hidden;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}
.activites_duo_3 {
    box-shadow: 0px 0px 10px #e2e2e2;
    border-radius: 20px;
    height: 195px;
    overflow: hidden;
}

.activites_img_3 img {
    height: 140px;
    overflow: hidden;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}
.activites_duo_4 {
    box-shadow: 0px 0px 10px #e2e2e2;
    border-radius: 20px;
    height: 210px;
    overflow: hidden;
}

.activites_img_4 img {
    height: 150px;
    overflow: hidden;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}

.activites_text {
    margin:1em 1em 1em 1.2em;
    font-size: 0.9em;
}
/* section activités */
/*------------------------------------------------------------------------------------------------------------------------------*/
/* footer */

#footer {
    background-color: #f2f2f2;
    width: 100%;
}

.footer_bloc {
    display: flex;
    Align-items: center;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 2em;
    height: 218px;
    box-sizing: border-box;
    
}

.footer_elem {
    width: 30%;
    line-height: 2em;
    padding: 2em 2em;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/*media queries*/

/* Mobile */
@media all and (max-width: 767.98px) {

    /* header */

    .logo {
        margin-left: 1.25em;
    }

    #header {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .navtop {
        padding: 1em 1em 1em 1em;
        width: 50%;  
        border-bottom: 3px #f2f2f2 solid;
    }

    .navtop_all {
        width:100%;
        display: flex;
        order: 3;
    }

    .navtop_button :hover {
        color: #106ffc;
        border-bottom: 3px #106ffc solid;
    }

    .navtop_button {
        width: 100%;
        display: flex;
    }

    /* header */
    /*-----------------------------------------------------------------------------------------------------------------------------*/
    /* section head */

    #header_2 {
        margin-left: 1.25em;
        margin-right: 1.25em;
    }

    .search_field {
        width: 100%;
    }

    .search_button_text {
        display: none;
    }

    /* Filters bloc */

    .filters_bloc {
        display: flex;
        flex-direction: column;   
        align-items: flex-start;
    }

    .filters_bloc h2 {
        margin-bottom: 1em;
    }

    .fba {
        display:flex;
        flex-wrap: wrap;
    }

    .filters_button_all {
        margin-bottom: 1em;
        margin-right: 1em;
    }

    
    /* text info*/ 

    .text_info {
        margin-top: 1em;
    }

    /* section head */
    /*------------------------------------------------------------------------------------------------------------------------------*/
    /* section hebergements */

    #central_section {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }

    .populaires {
       padding: 0em 1.25em 1.25em 1.25em;
       border-radius: 0;
       min-width: 335px;
    }

    .hebergements {
        background-color: white;
        height: 100%;
        width: fit-content;
        padding-left: 0;
        margin: 0 1.25em 0 1.25em;
    }

    .conteneur {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .conteneur_img {
        width: 300px;
        height: 200px;
        padding-left: 0;
        margin-right: 0;
    }

    .conteneur_img_aside {
        width: 100%;
        height: 145px;
        max-width: fit-content;
    }

    .hotel_image_aside {
        min-height: 100%;
        width: 50%;
        min-width: 37%;
        max-width: 50%;
    }
    
    .conteneur_text_aside {
        width: 50%;
    }
        
    .content_aside {
        width: 100%;
    }

    /* section hebergements */
    /*------------------------------------------------------------------------------------------------------------------------------*/
    /* section activités */

    #activites {
        margin: 2.4em 1.25em 2.4em 1.25em;
    }

    .conteneur_wo_h1 {
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .activites_img {
        height: 135px;
    }

    .activites_solo {
        width: 100%;
        height: 190px;
        margin-top: 2em;
    }

    .activites_duo {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 2em;
        gap: 32px;
        justify-content: center;
    }

    .activites_duo_1, .activites_duo_2, .activites_duo_3, .activites_duo_4 {
        height: 190px;
        width: 100%;
    }

    .activites_img_1, .activites_img_2 img, .activites_img_3, .activites_img_4 {
        height: 135px;
    }

    /* section activités */
    /*------------------------------------------------------------------------------------------------------------------------------*/
    /* footer */

    .footer_bloc {
        height: 100%;
        flex-wrap: wrap;
        padding: 0;
    }

    .footer_elem {
        width: 100%;
        padding: 1.25em;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .search_button i {
        display: none;
    }
}

/* Desktop */
@media (min-width: 992px) {
    .search_button i {
        display: none;
    }

    .navtop_button a:hover {
        color: #106ffc;
        border-top: 3px #106ffc solid;
    }
}